// Variables
$primarycolor: black;
$secondarycolor: #f8f9fa;
$accentcolor: #e55a00;
$thiscolor: #ff8674;
$ulBackgroundcolor: #eeeeee;
$libackgroundcolor: #d3d3d3;

// Mixins
@mixin shift-content-right {
  margin-left: 200px;
}

// Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.content {
  @include shift-content-right();
  text-decoration: none;
}

header {
  h1 {
    @include shift-content-right();
  }
}

.splash-image {
  @include shift-content-right();
  background-color: $thiscolor;
  height: 400px;
}

.navbar {
  width: 250px;
  height: 100vh;
  position: fixed;
  // margin-left: -300px;
  background-color: #fafafa;
  transition: 0.4s;
  .nav-link {
    font-size: 0.8em;
    font-weight: bold;
    color: #4b4b4b;
    margin-left: 30px;
  }
  .nav-item {
    width: 95%;
  }
}

.sidenav {
  position: fixed;
  ul {
    list-style-type: none;
    // font-family: monospace;
    li {
      width: 90%;
      a {
        // width: 280px;
        // color: #d32929;
        font-size: 0.8em;
        // font-weight: bold;
        color: #4b4b4b;
        margin-left: 20px;
      }
    }
  }
}

.title {
  margin: 20px 0 0 30px;
  a {
    color: $thiscolor;
  }
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #eeeeee;
}

a:link {
  text-decoration: none;
}

.infoCard {
  @include shift-content-right();
  border: 1px solid #d3d3d3;
  .infoboximage {
    width: 60px;
    height: 60px;
    img {
      width: 50px;
    }
  }
}

.checkBoxes {
  // width: 526px;
  display: flex;
  .btn-group {
    flex-wrap: wrap;
  }
  label {
    height: 40px;
    width: 40px;
  }
}

#footer {
  min-height: 500px;
}
