// Variables
$primarycolor: black;
$secondarycolor: #f8f9fa;
$accentcolor: #e55a00;

// Mixins
@mixin shift-content-right {
  margin-left: 300px;
}
// Styles
.splash-image {
  @include shift-content-right();
  background-color: cornflowerblue;
  height: 400px;
}

.sidenav {
  position: absolute;
  width: 200px;
  height: 100vh;
  ul {
    list-style-type: none;
  }
}
