// Variables
$primarycolor: black;
$secondarycolor: #f8f9fa;
$accentcolor: #e55a00;
$thiscolor: #ff8674;
$ulBackgroundcolor: #eeeeee;
$libackgroundcolor: #d3d3d3;

// Mixins
@mixin shift-content-right {
  margin-left: 200px;
}

// Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header {
  h1 {
    @include shift-content-right();
  }
}

.splash-image {
  @include shift-content-right();
  background-color: cornflowerblue;
  height: 400px;
}

.navbar {
  width: 250px;
  height: 100vh;
  position: fixed;
  // margin-left: -300px;
  background-color: #fafafa;
  transition: 0.4s;
  .nav-link {
    font-size: 0.8em;
    font-weight: bold;
    color: #4b4b4b;
    margin-left: 30px;
  }
}
.title {
  margin-left: 30px;
  a {
    color: $thiscolor;
  }
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #eeeeee;
}

// .sidenav {
//   position: absolute;
//   width: 280px;
//   height: 100vh;
//   ul {
//     list-style-type: none;
//     font-family: monospace;
//     li {
//       a {
//         width: 280px;
//         color: #2c2c2c;
//       }
//     }
//   }
// }

// .navlinks {
//   padding: 0px 24px;
// }
